<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This app is a <%= link_to 'Magic The Gathering', 'http://magic.wizards.com/en', :style=>'color:blue;' %> Cataloger that will include pricing, deck building, trade lists, buy lists, and friend lists.<br>
  This app is currently under an MIT License by Northrup Consulting.<br>

</p>