<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  
  <strong> Email me:</strong>
  <%= mail_to "donavin@dnorthrupga.com", "Donavin Northrup", subject: "Let me know more about MTG Social Hour!" %>

</p>