<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/headElement' %>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>